.addFood-box {
    position: absolute;
    top: 56%;
    left: 60%;
    width: 700px;
    padding: 30px;
    transform: translate(-50%, -50%);
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .addFood-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: var(--main-color);
    text-align: center;
  }
  
  .addFood-box .food-box {
    position: relative;
  }
  
  .addFood-box .food-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--main-color);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--main-color);
    outline: none;
    background: transparent;
  }

  .addFood-box .basic-single {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--main-color);
    outline: none;
    background: transparent;
  }

  .addFood-box .food-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(83, 79, 79);
    pointer-events: none;
    transition: .5s;
  }
  
  .addFood-box .food-box input:focus ~ label,
  .addFood-box .food-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: var(--main-color);
    font-size: 12px;
  }
  
  .addFood-box .formDesign a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background-color: #fff;
  }
  
  .addFood-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
  }
  
  .addFood-box a span {
    position: absolute;
    display: block;
  }
  
  
  .addFood-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }

  .food-box-button{
      display: inline-flex;
      height: 40px;
      padding: 0;
      background: #fff;
      outline: none;
      border-color: black;
      border-radius: 5px;
      overflow: hidden;
      font-size: 15px;
      font-weight: bold;
      margin-right: 20px;
  }

  .food-box-button:hover{
      background: var(--main-color);
      color: #fff;
  }

  .button-text,
  .button-icon
  {
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    /* color: red; */
  }

  .button-icon{
      font-size: 1.5em;
      background:var(--main-color);
  }


@media screen and (max-width: 768px) {
    .addFood-box {
        position: absolute;
        top: 56%;
        left: 50%;
        width: 400px;
        padding: 30px;
        transform: translate(-50%, -50%);
        background: #fff;
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
      }
      
      .addFood-box h2 {
        margin: 0 0 30px;
        padding: 0;
        color: var(--main-color);
        text-align: center;
      }
      
      .addFood-box .food-box {
        position: relative;
      }
      
      .addFood-box .food-box input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: var(--main-color);
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #DD2F6E;
        outline: none;
        background: transparent;
      }
    
      .addFood-box .basic-single {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: black;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid var(--main-color);
        outline: none;
        background: transparent;
      }
    
      .addFood-box .food-box label {
        position: absolute;
        top:0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: rgb(83, 79, 79);
        pointer-events: none;
        transition: .5s;
      }
      
      .addFood-box .food-box input:focus ~ label,
      .addFood-box .food-box input:valid ~ label {
        top: -20px;
        left: 0;
        color: #DD2F6E;
        font-size: 12px;
      }
      
      .addFood-box .formDesign a {
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: #03e9f4;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        margin-top: 40px;
        letter-spacing: 4px;
        background-color: #fff;
      }
      
      .addFood-box a:hover {
        background: #03e9f4;
        color: #fff;
        border-radius: 5px;
      }
      
      .addFood-box a span {
        position: absolute;
        display: block;
      }
      
      .addFood-box a span:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #03e9f4);
        animation: btn-anim1 1s linear infinite;
      }
      
      
      .addFood-box a span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #03e9f4);
        animation: btn-anim2 1s linear infinite;
        animation-delay: .25s
      }
    
      .food-box-button{
          display: inline-flex;
          height: 40px;
          width: 40%;
          padding: 0;
          background: #fff;
          outline: none;
          border-color: black;
          border-radius: 5px;
          overflow: hidden;
          font-size: 15px;
          font-weight: bold;
          margin-right: 20px;
      }
    
      .food-box-button:hover{
          background: var(--main-color);
          color: #fff;
      }
    
      .button-text,
      .button-icon
      {
        display: inline-flex;
        align-items: center;
        padding: 0 10px;
        /* color: red; */
      }
    
      .button-icon{
          font-size: 1.5em;
          background: var(--main-color);
      }
}