.fileInputBrowse input{
    background-color: #00B0FF;
    margin-left: 80px;
    padding: 10px 10px;
    color: #FFFFFF;
    border-radius: 10px;
}

.dateInput{
    width: 90%;
    height: 11%;
    margin-top: 3%;
    margin-left: 4%;
    margin-bottom: 5%;
}